
body, html {

    margin: 0;
    height: 100%;
    font-size: 17px;
    background-image: url('background_img.png');
    background-position: center;
    background-size: cover;
    position: relative;
}


